<!DOCTYPE html>

<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="/images/logo.png" alt="Logo de iGeek">
                </a>
            </figure>
        </div>
        <div class="box">
            <a href="#" class="l-f"><h2>SOBRE NOSOTROS</h2></a>
            <a href="#" class="l-f"><p>iPhone</p></a>
            <a href="#" class="l-f"><p>ipad</p></a>
            <a href="#" class="l-f"><p>MacBook</p></a>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>iGeek</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>