<!-- Navbar (sit on top) -->
<header class="header">
    <nav class="nav">
        <a href="/home" class="logo nav-link"><img src="/images/logo.png" alt="logo"></a>
        <div id="busqueda">
            <form action="#">
                <input type="text" placeholder="Buscar Producto" name="busqueda">
                <button type="submit"><span class="material-symbols-outlined">search</span></button>
            </form>
        </div>
        <button class="nav-toggle" aria-label="Abrir menú">
            <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="nav-menu">
            <li class="nav-menu-item"><a href="/home" class="nav-menu-link nav-link">Home</a>
            </li>
            <li class="nav-menu-item"><a href="/productos" class="nav-menu-link nav-link">Productos</a>
            </li>
            <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link nav-menu-link_active">Usuario</a>
            </li>
        </ul>
    </nav>
</header>