<!DOCTYPE html>
<html lang="es">
<!-- COMIENZO DEL HEAD -->

<%- include ("./partials/head") -%>

<!-- COMIENZO DEL BODY -->

<body class="body-formulario">
  <%- include('./partials/navbar') -%>

  <!-- FORMULARIO AGREGAR PRODUCTO -->


    <div class="nuevo-iphone">
       
        <form class="formulario" action="/formulario" method="POST" enctype="multipart/form-data">
            <img class="img-logo-formulario" src="/images/logo.png" alt="logo">
            <h1 class="titulo-formulario">Agregar Producto</h1>
            
            <label for="nombre">iPhone y Capacidad</label>
            <input type="text" placeholder = "Ej: Apple iphone 14 Plus (128 GB)" id="nombre" name="nombre" required />
            
            <label for="chip">Chip</label>
            <input type="text" placeholder = "Ej: A15 Bionic" id="chip" name="chip" required />

            <label for="ram">Ram</label>
            <input type="text" placeholder = "Ej: 6 GB" id="ram" name="ram" required />

            <label for="color">Color</label>
            <input type="text" placeholder = "Ej: Negro" id="color" name="color" required />

            <label for="precio">Precio</label>
            <input type="text" placeholder = "Ej: 1.200 €" id="precio" name="precio" required />
            
            <label for="imagen">Imagen</label>
            <input class="inputfile" type="file" id="imagen" name="archivo"/>
            
            <button class="boton-agregar-iphone" type="submit">Agregar</button>
            
        </form>     

    </div>

<!-- FOOTER -->

<%- include('./partials/footer') -%>


</body>

<script>
  const navToggle = document.querySelector(".nav-toggle")
const navMenu = document.querySelector(".nav-menu")

navToggle.addEventListener("click", () => {
    navMenu.classList.toggle("nav-menu_visible");
});
</script>
</html>    

</html>